<nav class="nav navbar-inverse">
	<ul class="nav navbar-nav">
		<li class="active" ng-click="goDispositivo()"><a href="">Home</a></li>
		<li ng-hide="isLogueado" ng-click="goLogin()"><a href="">Login</a>
		</li>
		<li ng-show="isLogueado" ng-click="goCrear()"><a href="">Crear
				Dispositivo</a></li>
		<li ng-show="isLogueado" ng-click="salir()"><a href="">Salir</a></li>
	</ul>
</nav>
<div class="container">
	
		<h2 align="center"> Nuevo Dispositivo</h2>

	<form class="form-horizontal" role="form" name="nuevoDispositivo"
		id="form" ng-submit="crearDispositivo(dispositivo)">
		<div class="form-group">
			<label>Referencia: </label>
				<input class="form-control" type="text" ng-model="dispositivo.referencia" required />
		</div>
		<div class="form-group">
			<label>Nombre: </label>	
				<input class="form-control" type="text" ng-model="dispositivo.nombre" required />
		</div>
		<div class="form-group">
			<label >Descripcion: </label>	
				<textarea class="form-control" ng-model="dispositivo.descripcion"></textarea>
		</div>
		<div class="form-group">
			<label >Tipo: </label>
			<select class="form-control" ng-model="dispositivo.tipo">
				<option ng-repeat="tipo in tipos" value="{{tipo.id}}" required>{{tipo.nombre}}</option>
			</select>
		</div>
		<div class="form-group">
			<label>URL foto: </label>
				<input class="form-control" type="text" ng-model="dispositivo.foto" required>
		</div>
		<input  class="btn btn-primary btn-block " type="submit" value="Crear" />
	</form>
</div>